.max-width{
 /* margin-left: 14px;
 margin-right: 14px; */
 max-width: 375px;
 min-width:300px ;
}
.modal-box{
    box-shadow: 10px 10px 1000px rgb(97, 94, 94),-10px -10px 2000px  rgb(97, 94, 94);
}
.model{
  background: rgba(255, 255, 255, 0.2); /* Background color with transparency */
  backdrop-filter: blur(10px); /* Apply blur effect */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding for content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Box shadow for depth */
}